@media screen and (max-width: 1440px) {
    body {
        font-family: "Comfortaa";
        margin: 0px;
    }

    .hero h1 {
        font-size: 28px;
        line-height: 48px;
        text-align: center;
        font-weight: 800;
        color: #514949;
        margin-bottom: 36px;
    }

    .hero-container {
        height: 800px;
        background-image: url("Images/hero-bg.svg");
        background-position: center;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        padding: 69px;
    }

    .hero {
        padding: 10px;
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
    }

    .hero p {
        font-size: 15px;
        line-height: 23px;
        color: #514949;
        opacity: 0.9;
    }

    a {
        color: #E7332B;
        text-decoration: none;
    }

    .button-div {
        margin-top: 75px;
    }
    
    .button {
        padding: 11px 28px;
        border: 1px solid #E7332B;
        font-family: "Comfortaa";
        height: 48px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button-red {
        background-color: #E7332B;
        color: white;
        margin-right: 24px;
    }

    .button-red:hover {
        background-color: white;
        color: #E7332B;
    }

    .button-white {
        background-color: white;
        color: #E7332B;
    }

    .button-white:hover {
        background-color: #E7332B;
        color: white;
    }

    .programs-container {
        height: 800px;
    }

    .text-area {
        margin-top: 140px;
        text-align: center;
        margin-bottom: 65px;
    }

    .text-area h5 {
        color: #E7332B;
    }

    .text-area h2 {
        color: #514949;
        line-height: 40px;
    }

    .programs-row {
        margin-left: 35px;
        margin-right: 35px;
        display: flex;
    }

    .programs-column {
        width: 33.333%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .program-card {
        max-width: 100%;
        background-color: #FFFAFA;
        padding: 61px 47px 82px 36px;
        position: relative;
    }

    .program-card-background-img {
        width: 100%;
        position: absolute;
        left: -120px;
        top: -75px;
        z-index: -1;
        vertical-align: middle;
        text-align: left;
    }

    .program-card-background-img-right {
        width: 90%;
        position: absolute;
        right: -120px;
        top: -75px;
        z-index: -1;
        vertical-align: middle;
    }

    .program-card-img {
        margin-bottom: 40px;
    }

    .program-card p {
        font-size: 15px;
        line-height: 24px;
        color: #514949;
        opacity: 0.9;
    }
}